.footer-link {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.015em;
}

.footer-link-element {
    color: #000;
}

.last-footer {
    color: blueviolet;
    font-size: 12px;
    text-align: center;
}