.about-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px 80px 80px 80px;
}

.about-main-left,
.about-main-right {
    width: 50%;
}

.about-main-right {
    display: flex;
    justify-content: flex-end;
}

.about-main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-link-element {
    color: #000;
}

.about-sub-head {
    margin: 0;
}

.about-details {
    margin: 10px 0 32px 0;
    font-family: roboto;
    font-weight: bolder;
    text-align: left;
}

.about-anime {
    width: 520px;
    max-width: 100%;
    max-height: 100%;
}

.vector-frame {
    position: absolute;
    z-index: -10;
    left: 0;
    bottom: 0;
    width: 60%;
}

.about-vector {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.normal-font {
    font-family: roboto;
}

/* Style the table */
/* .table-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 15px 15px 15px;
    border-collapse: collapse;
} */
.styled-table {
    margin: 15px 0;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
    min-width: 400px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    /* font-weight: bold; */
    color: #009879;
}

@media only screen and (max-width: 640px) {
    .vector-frame {
        width: 90%;
    }
    .about-head {
        width: 80%;
    }
    .about-head > p {
        font-size: 1.2em;
        line-height: 1.2em;
    }
    .about-main {
        padding: 50px 32px;
    }
    .about-main-left,
    .about-main-right {
        width: 100%;
    }
}
