/* Position and sizing of burger button */

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 36px;
    left: 32px;
    top: 32px;
}


/* Color/shape of burger icon bars */

.bm-burger-bars {
    background: #373a47;
}


/* Color/shape of burger icon bars on hover*/

.bm-burger-bars-hover {
    background: #000;
}


/* Position and sizing of clickable cross button */

.bm-cross-button {
    height: 24px;
    width: 24px;
    padding: 15px;
}


/* Color/shape of close button cross */

.bm-cross {
    background: #da4f4f;
}


/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */

.bm-menu-wrap {
    position: fixed;
    height: 100vh;
    overflow-x: hidden;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}


/* General sidebar styles */

.bm-menu {
    background: linear-gradient(45deg, #cba2fa 5%, #5e3c96 75%);
    padding: 2.5em 1.5em 0;
    height: 100vh;
    overflow: hidden !important;
}


/* Morph shape necessary with bubble or elastic */


/* .bm-morph-shape {
    fill: #373a47;
} */


/* Wrapper for item list */

.bm-item-list {
    padding: 0.8em;
}


/* Individual item */


/* .bm-item {
    display: inline-block;
} */


/* Styling of overlay */


/* .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
} */

.menu-item {
    position: relative;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    padding: 10px;
}

.menu-item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.active-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.menu-item:hover:before,
.active-item:before {
    visibility: visible;
    height: 3px;
}